body{
    margin-left: 15%;
    margin-right: 15%;
   
}

.mae{
    
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    
}


#titulo{
    color: #070F18;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px;
    text-decoration-line: underline;
    margin-top: 40px;
    margin-bottom: 40px;
   
}

#links ul {
    list-style-type: none;
    margin: 0;
    padding:0;  
}
#links li {
    display: inline-block;
    margin-left: 20px;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
}

#links {
    text-align: right;
    margin-top: 49px;
    margin-bottom: 40px;
}
 a{
    color: #070F18;
 }
    
 /*segunda parte*/
 
#info h1 {
    color: #000;
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 83px;
   
}
#info p {
    color: #575455;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    margin-top: 20px;
    
}

#info button{
    border-radius: 50px;
    background: #1F7CFF;
    width: 180px;
    height: 48px;
    border:none;
    margin-top: 30px;
    margin-bottom: 80px;
}
#info a{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    text-decoration: none;  
}

    
#foto img {
    margin-top: 28px;
    margin-left: 28px;
    border-radius: 80px;
    margin-left: 28px;
}

/*terceira parte */

#tx p {
    color: #070F18;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 210px;
    margin-top: 49px;
    margin-bottom: 46px;
}

#icum img{
    width: 87.194px;
    height: 30px;
    flex-shrink: 0;
    margin-top: 58px;
    margin-bottom: 55px;
    margin-left: 83px;
}
#icdois img {
    width: 87.194px;
    height: 30px;
    flex-shrink: 0;
    margin-top: 58px;
    margin-bottom: 55px;
    margin-left: 91px;
}
#ictres img {
    width: 99.445px;
    height: 30px;
    flex-shrink: 0;
    margin-top: 58px;
    margin-bottom: 55px;
    margin-left: 83px;
}

/*quarta parte*/

.red {
    color: #F75C4E;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 58px;
    margin-bottom: 3px;
} 
.tt{
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 3px;
    margin-bottom: 5px;
}
.texto{
    color: #575455;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    
}
#dr{
    margin-bottom: 29px;
}

/*quinta parte */

#consulta, #email, #criaçao{ 
    text-align: center;
}
#t1, #t2, #t3{
    margin-top: 0px;
    margin-bottom: 0px;
}
.st{
    color: #070F18;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0px;

}
/*formulario*/

#foto1 img{
    margin-top: 98px;
    margin-bottom: 86px;
    width: 500px;
    border-radius: 30px;

}
#t4{
    color: #F75C4E;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 160px;
    margin-bottom: 0;
    margin-left: 75px;
}
#t5{
    color: #000;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-left: 75px;
    margin-bottom: 0;
}
#p1{
    color: #575455;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    margin-top: 20px;
    margin-left: 75px;
    margin-bottom: 40px;
}
#cxt{
    width: 390px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F5F6FB;
    color: #575455;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 20px;
    border: 0;
    margin-top: 0px;
    margin-left: 75px;
    margin-bottom: 0px;
}
#env{
    width: 180px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 50px;
    border: none;
    background: #1F7CFF;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 20px;
    margin-left: 75px;
}
/*titulo final*/
#t6{
    color: #F75C4E;
    text-align: left;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 67px;
    margin-bottom: 0;
}
#t7{
    color: #000;
    text-align: left;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 33px;
}

/*folderes*/
.NOMECLASSE img{
    width: 100%;}

.NOMECLASSE{
    padding: 20px;
    margin-bottom: 150px;
}

